.elementor-16881
  .elementor-element.elementor-element-1584d750
  > .elementor-container {
  max-width: 500px;
  min-height: 361px;
}
.elementor-16881
  .elementor-element.elementor-element-1584d750
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-16881
  .elementor-element.elementor-element-1584d750
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.4;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16881 .elementor-element.elementor-element-1584d750 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0px 0px 0px 0px;
}
.elementor-16881
  .elementor-element.elementor-element-1584d750
  > .elementor-shape-bottom
  svg {
  height: 66px;
}
.elementor-16881
  .elementor-element.elementor-element-4c88eb6c
  .elementor-text-editor {
  text-align: center;
}
.elementor-16881 .elementor-element.elementor-element-4c88eb6c {
  color: #ffffff;
  font-family: "Asap Condensed", Sans-serif;
  font-size: 75px;
  letter-spacing: 9.1px;
}
.elementor-16881
  .elementor-element.elementor-element-5aa0e7a6
  .uael-post__thumbnail:hover
  img {
  transform: scale(1.06);
  opacity: 0.79;
}
.elementor-16881
  .elementor-element.elementor-element-5aa0e7a6.uael-post__link-complete-yes
  .uael-post-image-background
  .uael-post__complete-box-overlay:hover
  + .uael-post__inner-wrap
  .uael-post__thumbnail
  img {
  transform: translate(-50%, -50%) scale(1.06);
}
.elementor-16881
  .elementor-element.elementor-element-5aa0e7a6.uael-post__link-complete-yes
  .uael-post__complete-box-overlay:hover
  + .uael-post__inner-wrap
  .uael-post__thumbnail
  img {
  transform: scale(1.06);
  opacity: 0.79;
}
.elementor-16881
  .elementor-element.elementor-element-5aa0e7a6.uael-equal__height-yes
  .uael-post-image-background
  .uael-post__inner-wrap:hover
  img {
  transform: translate(-50%, -50%) scale(1.06);
  opacity: 0.79;
}
.elementor-16881
  .elementor-element.elementor-element-5aa0e7a6
  .uael-post-grid
  .uael-post-wrapper {
  padding-right: calc(20px / 2);
  padding-left: calc(20px / 2);
  margin-bottom: 20px;
}
.elementor-16881
  .elementor-element.elementor-element-5aa0e7a6
  .uael-post-grid
  .uael-post-grid__inner {
  margin-left: calc(-20px / 2);
  margin-right: calc(-20px / 2);
}
.elementor-16881
  .elementor-element.elementor-element-5aa0e7a6
  .uael-post-wrapper {
  text-align: center;
}
.elementor-16881
  .elementor-element.elementor-element-5aa0e7a6
  .uael-post__bg-wrap {
  background-color: #f6f6f6;
}
.elementor-16881
  .elementor-element.elementor-element-5aa0e7a6
  .uael-post__content-wrap {
  padding: 25px 30px 30px 30px;
}
.elementor-16881
  .elementor-element.elementor-element-5aa0e7a6
  .uael-post__datebox:not(.uael-post__noimage) {
  width: 30px;
  height: 30px;
  margin-top: calc(-30px / 2);
}
.elementor-16881
  .elementor-element.elementor-element-5aa0e7a6
  .uael-post__datebox.uael-post__noimage {
  width: 30px;
  height: 30px;
  margin-top: 25px;
}
.elementor-16881
  .elementor-element.elementor-element-5aa0e7a6
  .uael-post__datebox {
  color: #ffffff;
}
.elementor-16881
  .elementor-element.elementor-element-5aa0e7a6
  .uael-grid-pagination
  a.page-numbers:hover {
  background-color: #f6f6f6;
}
.elementor-16881
  .elementor-element.elementor-element-5aa0e7a6
  .uael-grid-pagination
  span.page-numbers.current {
  background-color: #e2e2e2;
}
.elementor-16881
  .elementor-element.elementor-element-5aa0e7a6
  .uael-post__title {
  font-family: "Oswald", Sans-serif;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-bottom: 5px;
}
.elementor-16881
  .elementor-element.elementor-element-5aa0e7a6
  .uael-post__excerpt {
  margin-bottom: 20px;
}
.elementor-16881
  .elementor-element.elementor-element-5aa0e7a6
  a.uael-post__read-more {
  color: #ffffff;
  padding: 10px 10px 10px 10px;
}
.elementor-16881
  .elementor-element.elementor-element-69220f12
  > .elementor-container {
  max-width: 940px;
}
.elementor-16881
  .elementor-element.elementor-element-69220f12
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-16881 .elementor-element.elementor-element-69220f12 {
  padding: 100px 0px 100px 0px;
}
.elementor-16881
  .elementor-element.elementor-element-71b6c484
  > .elementor-element-populated {
  padding: 0px 80px 0px 0px;
}
.elementor-16881
  .elementor-element.elementor-element-44731538
  .elementor-heading-title {
  color: #c15c51;
  font-family: "Ovo", Sans-serif;
  font-size: 54px;
  text-transform: uppercase;
  letter-spacing: -2px;
}
.elementor-16881 .elementor-element.elementor-element-33efc4cf {
  --divider-border-style: solid;
  --divider-color: #eaeaea;
  --divider-border-width: 3px;
}
.elementor-16881
  .elementor-element.elementor-element-33efc4cf
  .elementor-divider-separator {
  width: 14%;
}
.elementor-16881
  .elementor-element.elementor-element-33efc4cf
  .elementor-divider {
  padding-top: 11px;
  padding-bottom: 11px;
}
.elementor-16881
  .elementor-element.elementor-element-26b69ab8
  .elementor-icon-list-icon
  i {
  color: black;
  font-size: 14px;
}
.elementor-16881
  .elementor-element.elementor-element-26b69ab8
  .elementor-icon-list-icon
  svg {
  fill: black;
  width: 14px;
}
.elementor-16881
  .elementor-element.elementor-element-26b69ab8
  .elementor-icon-list-text {
  color:black;
  padding-left: 15px;
}
.elementor-16881
  .elementor-element.elementor-element-26b69ab8
  .elementor-icon-list-item,
.elementor-16881
  .elementor-element.elementor-element-26b69ab8
  .elementor-icon-list-item
  a {
  font-size: 14px;
  line-height: 2.5em;
}
.elementor-16881 .elementor-element.elementor-element-5846313b iframe {
  height: 300px;
}
@media (min-width: 768px) {
  .elementor-16881 .elementor-element.elementor-element-508799df {
    width: 5.428%;
  }
  .elementor-16881 .elementor-element.elementor-element-5c69be27 {
    width: 88.408%;
  }
  .elementor-16881 .elementor-element.elementor-element-2889964e {
    width: 6.163%;
  }
  .elementor-16881 .elementor-element.elementor-element-71b6c484 {
    width: 50%;
  }
  .elementor-16881 .elementor-element.elementor-element-1a0e0eb5 {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .elementor-16881 .elementor-element.elementor-element-69220f12 {
    padding: 50px 0px 0px 50px;
  }
  .elementor-16881
    .elementor-element.elementor-element-44731538
    .elementor-heading-title {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .elementor-16881 .elementor-element.elementor-element-69220f12 {
    padding: 80px 0px 0px 0px;
  }
  .elementor-16881
    .elementor-element.elementor-element-71b6c484
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-16881 .elementor-element.elementor-element-44731538 {
    text-align: center;
  }
  .elementor-16881
    .elementor-element.elementor-element-44731538
    .elementor-heading-title {
    font-size: 32px;
  }
  .elementor-16881
    .elementor-element.elementor-element-33efc4cf
    .elementor-divider {
    text-align: center;
  }
  .elementor-16881
    .elementor-element.elementor-element-33efc4cf
    .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-16881
    .elementor-element.elementor-element-26b69ab8
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 50px 50px;
  }
}
