.elementor-16211
  .elementor-element.elementor-element-d69f9ff:not(.elementor-motion-effects-element-type-background),
.elementor-16211
  .elementor-element.elementor-element-d69f9ff
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #4a4a4a;
}
.elementor-16211 .elementor-element.elementor-element-d69f9ff {
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #f6121c;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -19px;
  margin-bottom: -7px;
  padding: 0px 0px 0px 0px;
}
.elementor-16211
  .elementor-element.elementor-element-d69f9ff
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16211 .elementor-element.elementor-element-abf8515 {
  margin-top: 2px;
  margin-bottom: -5px;
}
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  .hfe-nav-menu__toggle {
  margin: 0 auto;
}
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  .menu-item
  a.hfe-menu-item {
  padding-left: 15px;
  padding-right: 15px;
}
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  .menu-item
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 20px);
  padding-right: 15px;
}
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 40px);
  padding-right: 15px;
}
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 60px);
  padding-right: 15px;
}
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  .hfe-nav-menu__layout-vertical
  .menu-item
  ul
  ul
  ul
  ul
  a.hfe-sub-menu-item {
  padding-left: calc(15px + 80px);
  padding-right: 15px;
}
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  .menu-item
  a.hfe-menu-item,
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  .menu-item
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-16211 .elementor-element.elementor-element-a1cf6a9 a.hfe-menu-item,
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  a.hfe-sub-menu-item {
  font-family: "Oswald", Sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  .menu-item
  a.hfe-menu-item,
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  .sub-menu
  a.hfe-sub-menu-item {
  color: #ffffff;
}
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  .elementor-menu-toggle,
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  color: #0e0d0d;
}
.elementor-16211 .elementor-element.elementor-element-a1cf6a9 .sub-menu,
.elementor-16211 .elementor-element.elementor-element-a1cf6a9 nav.hfe-dropdown,
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  nav.hfe-dropdown-expandible,
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  nav.hfe-dropdown
  .menu-item
  a.hfe-menu-item,
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  nav.hfe-dropdown
  .menu-item
  a.hfe-sub-menu-item {
  background-color: #fff;
}
.elementor-16211 .elementor-element.elementor-element-a1cf6a9 ul.sub-menu {
  width: 220px;
}
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  .sub-menu
  a.hfe-sub-menu-item,
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  nav.hfe-dropdown
  li
  a.hfe-menu-item,
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  nav.hfe-dropdown
  li
  a.hfe-sub-menu-item,
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  nav.hfe-dropdown-expandible
  li
  a.hfe-menu-item,
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  nav.hfe-dropdown-expandible
  li
  a.hfe-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  .sub-menu
  li.menu-item:not(:last-child),
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  nav.hfe-dropdown
  li.menu-item:not(:last-child),
.elementor-16211
  .elementor-element.elementor-element-a1cf6a9
  nav.hfe-dropdown-expandible
  li.menu-item:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
  border-bottom-width: 1px;
}
.elementor-16211 .elementor-element.elementor-element-b15f371 {
  border-style: groove;
  border-width: 0px 0px 1px 0px;
  border-color: #f6121c;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5) inset;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-16211
  .elementor-element.elementor-element-b15f371
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16211 .elementor-element.elementor-element-a876541 {
  margin-top: -2px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  .uael-nav-menu__toggle {
  text-align: center;
}
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  .menu-item
  a.uael-menu-item,
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  .menu-item
  a.uael-sub-menu-item {
  padding-left: 10px;
  padding-right: 10px;
}
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  .menu-item
  a.uael-menu-item,
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  .menu-item
  a.uael-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  .menu-item
  a.uael-menu-item {
  font-family: "Oswald", Sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.elementor-16211 .elementor-element.elementor-element-7b2e95a .sub-menu,
.elementor-16211 .elementor-element.elementor-element-7b2e95a nav.uael-dropdown,
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  nav.uael-dropdown-expandible,
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  nav.uael-dropdown
  .menu-item
  a.uael-menu-item,
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  nav.uael-dropdown
  .menu-item
  a.uael-sub-menu-item {
  background-color: #fff;
}
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  .sub-menu
  li
  a.uael-sub-menu-item,
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  nav.uael-dropdown
  li
  a.uael-menu-item,
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  nav.uael-dropdown
  li
  a.uael-sub-menu-item,
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  nav.uael-dropdown-expandible
  li
  a.uael-menu-item {
  font-family: "Oswald", Sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.elementor-16211 .elementor-element.elementor-element-7b2e95a ul.sub-menu {
  width: 220px;
}
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  .sub-menu
  li
  a.uael-sub-menu-item,
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  nav.uael-dropdown
  li
  a.uael-menu-item,
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  nav.uael-dropdown
  li
  a.uael-sub-menu-item,
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  nav.uael-dropdown-expandible
  li
  a.uael-menu-item,
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  nav.uael-dropdown-expandible
  li
  a.uael-sub-menu-item {
  padding-left: 15px;
  padding-right: 15px;
}
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  .sub-menu
  a.uael-sub-menu-item,
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  nav.uael-dropdown
  li
  a.uael-menu-item,
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  nav.uael-dropdown
  li
  a.uael-sub-menu-item,
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  nav.uael-dropdown-expandible
  li
  a.uael-menu-item,
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  nav.uael-dropdown-expandible
  li
  a.uael-sub-menu-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  .sub-menu
  li.menu-item:not(:last-child),
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  nav.uael-dropdown
  li.menu-item:not(:last-child),
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  nav.uael-dropdown-expandible
  li.menu-item:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-color: #c4c4c4;
  border-bottom-width: 1px;
}
.elementor-16211
  .elementor-element.elementor-element-7b2e95a
  > .elementor-widget-container {
  margin: 29px 0px 0px 0px;
}
.elementor-16211
  .elementor-element.elementor-element-fdf93c4
  .hfe-input-focus
  .hfe-search-icon-toggle
  input[type="search"] {
  width: 371px;
}
.elementor-16211
  .elementor-element.elementor-element-fdf93c4
  .hfe-input-focus
  .hfe-search-form__input:focus {
  background-color: #ededed;
}
.elementor-16211
  .elementor-element.elementor-element-fdf93c4
  .hfe-input-focus
  .hfe-search-icon-toggle
  .hfe-search-form__input {
  border-style: none;
  border-radius: 3px;
}
.elementor-16211
  .elementor-element.elementor-element-fdf93c4
  .hfe-search-icon-toggle
  input[type="search"] {
  padding: 0 calc(15px / 2);
}
.elementor-16211
  .elementor-element.elementor-element-fdf93c4
  .hfe-search-icon-toggle
  i.fa-search:before {
  font-size: 15px;
}
.elementor-16211
  .elementor-element.elementor-element-fdf93c4
  .hfe-search-icon-toggle
  i.fa-search,
.elementor-16211
  .elementor-element.elementor-element-fdf93c4
  .hfe-search-icon-toggle {
  width: 15px;
}
.elementor-16211
  .elementor-element.elementor-element-fdf93c4
  > .elementor-widget-container {
  margin: 29px 0px 0px 0px;
}
@media (min-width: 768px) {
  .elementor-16211 .elementor-element.elementor-element-593b2e2 {
    width: 54.798%;
  }
  .elementor-16211 .elementor-element.elementor-element-32ca0f1 {
    width: 45.202%;
  }
  .elementor-16211 .elementor-element.elementor-element-cd12244 {
    width: 27.444%;
  }
  .elementor-16211 .elementor-element.elementor-element-6ab5941 {
    width: 65.112%;
  }
  .elementor-16211 .elementor-element.elementor-element-919da3b {
    width: 6.647%;
  }
}
