.elementor-16468
  .elementor-element.elementor-element-14503d53
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-16468
  .elementor-element.elementor-element-14503d53:not(.elementor-motion-effects-element-type-background),
.elementor-16468
  .elementor-element.elementor-element-14503d53
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #adadad;
}
.elementor-16468 .elementor-element.elementor-element-14503d53 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 20px 0px 0px 0px;
}
.elementor-16468
  .elementor-element.elementor-element-14503d53
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16468
  .elementor-element.elementor-element-73e7354f
  > .elementor-element-populated {
  padding: 0% 25% 0% 25%;
}
.elementor-16468 .elementor-element.elementor-element-4b3cfdde {
  text-align: center;
}
.elementor-16468
  .elementor-element.elementor-element-4b3cfdde
  .elementor-heading-title {
  color: #202020;
  font-family: "Oswald", Sans-serif;
  font-size: 45px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.elementor-16468
  .elementor-element.elementor-element-bd3cf16
  .elementor-text-editor {
  text-align: center;
}
.elementor-16468 .elementor-element.elementor-element-bd3cf16 {
  color: #000000;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}
.elementor-16468
  .elementor-element.elementor-element-bd3cf16
  > .elementor-widget-container {
  margin: -5px 0px 0px 0px;
  padding: 0px 0px 0px 20px;
}
.elementor-16468
  .elementor-element.elementor-element-0b2dab8:not(.elementor-motion-effects-element-type-background),
.elementor-16468
  .elementor-element.elementor-element-0b2dab8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #adadad;
}
.elementor-16468 .elementor-element.elementor-element-0b2dab8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -27px;
  margin-bottom: 0px;
  padding: 0px 0px 12px 0px;
}
.elementor-16468
  .elementor-element.elementor-element-0b2dab8
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16468
  .elementor-element.elementor-element-9c06ce7
  > .elementor-widget-container {
  padding: 0px 0px 0px 51px;
  color: black;
  font-weight: 150;
  font-size: medium;
}
.elementor-16468
  .elementor-element.elementor-element-2f2ca348
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-16468
  .elementor-element.elementor-element-2f2ca348:not(.elementor-motion-effects-element-type-background),
.elementor-16468
  .elementor-element.elementor-element-2f2ca348
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #2b2b2b;
}
.elementor-16468 .elementor-element.elementor-element-2f2ca348 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 0px 50px 0px;
}
.elementor-16468
  .elementor-element.elementor-element-2f2ca348
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-16468 .elementor-element.elementor-element-227b5457 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 16px;
  --grid-column-gap: 22px;
  --grid-row-gap: 0px;
}
.elementor-16468
  .elementor-element.elementor-element-227b5457
  .elementor-widget-container {
  text-align: center;
}
.elementor-16468
  .elementor-element.elementor-element-227b5457
  .elementor-social-icon {
  background-color: rgba(255, 255, 255, 0);
  --icon-padding: 0em;
}
.elementor-16468
  .elementor-element.elementor-element-227b5457
  .elementor-social-icon
  i {
  color: rgba(255, 255, 255, 0.32);
}
.elementor-16468
  .elementor-element.elementor-element-227b5457
  .elementor-social-icon
  svg {
  fill: rgba(255, 255, 255, 0.32);
}
.elementor-16468
  .elementor-element.elementor-element-227b5457
  .elementor-social-icon:hover {
  background-color: rgba(255, 255, 255, 0);
}
.elementor-16468
  .elementor-element.elementor-element-227b5457
  .elementor-social-icon:hover
  i {
  color: #f6121c;
}
.elementor-16468
  .elementor-element.elementor-element-227b5457
  .elementor-social-icon:hover
  svg {
  fill: #f6121c;
}
.elementor-16468 .elementor-element.elementor-element-4929c418 {
  text-align: center;
}
.elementor-16468
  .elementor-element.elementor-element-4929c418
  .elementor-heading-title {
  color: rgba(255, 255, 255, 0.97);
  font-size: 15px;
  font-weight: 300;
}
.elementor-16468
  .elementor-element.elementor-element-4929c418
  > .elementor-widget-container {
  padding: 15px 0px 0px 0px;
}
@media (max-width: 1024px) {
  .elementor-16468 .elementor-element.elementor-element-14503d53 {
    padding: 50px 25px 50px 25px;
  }
  .elementor-16468
    .elementor-element.elementor-element-73e7354f
    > .elementor-element-populated {
    padding: 0px 100px 0px 100px;
  }
  .elementor-16468 .elementor-element.elementor-element-2f2ca348 {
    padding: 30px 25px 30px 25px;
  }
}
@media (max-width: 767px) {
  .elementor-16468 .elementor-element.elementor-element-14503d53 {
    padding: 50px 20px 50px 20px;
  }
  .elementor-16468
    .elementor-element.elementor-element-73e7354f
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-16468 .elementor-element.elementor-element-2f2ca348 {
    padding: 30px 20px 30px 20px;
  }
  .elementor-16468
    .elementor-element.elementor-element-4929c418
    .elementor-heading-title {
    line-height: 25px;
  }
}
